/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */


.page {
  min-inline-size: 375px;
  background-image: var(--background-image); /* dark url(../images/cover-image-dark.png); light url(../images/cover-image-light.png) */
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--background-color); /* dark #000028; ligth #fff1f7 */
}

.header {
  height: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative; 
}

.decorated-zone::before {
  content: "";
  position: absolute;
  /*top: 10px смартфон 20px десктоп*/
  right: 0px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color); /* dark #ff0070 light #353430 */
  border-right: 1px solid var(--accent-color); /* dark #ff0070 light #353430 */
}

.decorated-zone::after {
  content: "";
  position: absolute;
  left: 0px;
  /*bottom: 10px смартфон 20px десктоп*/
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color); /* light #353430 */
  border-left: 1px solid var(--accent-color); /* light #353430 */
}

.decorative-element_dark {
  position: absolute; /*в светлой теме display: none; */
  display: inline-block;
  text-transform: uppercase;
  /*top: 10px смартфон 20px десктоп*/
  right: 28px; 
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  font-weight: var(--font-regular);
  line-height: 25px;
  color: var(--accent-color);
  /*в светлой теме display: none; */
}

.decorative-element_dark::after {
  content: ""; /*в светлой теме display: none; */
  position: absolute;
  width: 15px; 
  height: 15px;
  background: var(--accent-color); 
  border-radius: 50%;
  left: 39px;
  top: 5px;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu-list {
  display: flex;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  list-style-type: none;
}

.header__theme-menu-button {
  display: inline-flex;
  justify-content: center; 
  align-items: center;
  padding-bottom: 4px;
  background-color: transparent;
  border: none;
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  font-weight: var(--font-regular);
  color: var(--accent-color); /* dark #ff0070 light #353430 */   
  inline-size: 70px;
  block-size: 26px;
  cursor: pointer;
}  

.header__theme-menu-button:hover {
  outline: 1px solid var(--button_hover); /* dark rgb(255 0 112 / 0.4); light rgb(50 49 45 / 0.4) */
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color); /* dark #ff0070; /* light #353430 */
  pointer-events: none;
}

.header__theme-menu-button:focus {
  border: none; 
  outline: none; 
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color); /* dark #ff0070; light #353430 */  
}

.header__title {
  font-family: var(--main-font);
  font-weight: var(--font-bold);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem); 
  line-height: 82.5%;
  color: var(--header-title); /* dark #db00ff  light ffc2e6 */
  text-shadow: 4px 4px 0 var(--text-decor); /* dark #ff0070 light ff8dcb */
  justify-self: start;
  align-self: start;
}

.header__content { 
  block-size: auto;
  background-color: var(--text-decor); /* dark #ff0070 light ff8dcb */
  height: min-content;
  align-self: center;
  justify-self: end;
}

.header__content-text {
  font-family: var(--main-font);
  font-weight: var(--font-bold);
  font-size: var(--main-font-size);
  line-height: 130%;
  color: var(--decorated-text); /* dark #000028 light #353430 */
  margin: 0;
}

.sections {
  inline-size: 100%;
  display: grid; /*новый грид*/
}

.article__content {
  display: grid;
  gap: var(--s-size);
  align-content: start;
}

.section__title {
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  font-weight: var(--font-bold);
  line-height: 130%;
  color: var(--accent-color); /* dark #ff0070 light #353430 */
}

.article__content-title {
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  font-weight: var(--font-bold);
  line-height: 130%;
  color: var(--decorated-text); /* dark #000028 light #353430 */
}

.title-decor {
  background-color: var(--text-decor); /* dark #ff0070 light #ff8dcb */
}

.article-text {
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  font-weight: var(--font-regular);
  line-height: 130%;
  color: var(--article-text-color); /* #f1b2ce light #353430 */
}

.article-text-link {
  text-decoration: none;
  display: inline-block; 
  height: 22px;
  text-shadow: 2px 2px 0 var(--text-decor); /* dark #ff0070 light #ff8dcb */
  cursor: pointer;
  line-height: 90%;
}

.article-text-link:hover {  
  border-bottom: 1px solid var(--article-text-color);
}

.article-text-link:focus {
  border: none;
}

.article-text-link:focus-visible {
  outline: 1px solid var(--article-text-color);
  outline-offset: -1px;
}

.accent-article-text  {
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  font-weight: var(--font-regular);
  line-height: 130%;
  color: var(--decorated-text); /*dark #000028 light #353430 */
  background-color: var(--text-decor)/* dark #ff0070 light #ff8dcb */
}

.content {
  inline-size: 100%;
}

.content-why { 
  display: grid;
  gap: var(--m-size); 
}

.content-what { /*1 колонка на сматрфоне*/
  display: grid;
  gap: var(--m-size);
}

.content-how { /*1 колонка на смартфоне*/
  display: grid;
  gap: var(--m-size);
}

.gallery {
  display: grid; /*в одну колонку на смартфоне в 3 колонки на планшете и большом экране*/
  width: 100%;
}

.gallery__item { /*на сматрфоне*/
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.gallery__items {
  display: grid;
}

.gallery__image {
  width: 100%;
  margin: 0; 
  padding: 0;
}

.footer {
  height: 100vh;
  min-block-size: 668px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.footer__title {
  font-family: var(--main-font);
  font-weight: var(--font-bold);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--header-title); /* dark #db00ff light ffc2e6 */
  text-shadow: 2px 2px 0 var(--text-decor); /* dark #ff0070 light ff8dcb */
}

@media  (width < 768px) { /*на смартфоне */
  .page {
    padding-inline-start: var(--s-size);
    padding-inline-end: var(--s-size);
  }

  .header {
    padding-block-start: 10px;
    padding-block-end: 10px;
    margin-block-end: 40px;  
  }

  .decorated-zone::before {
    top: 10px;
  }

  .decorated-zone::after {
    bottom: 10px;
  }

  .decorative-element_dark {
    top: 10px;
  }

  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .decorated-zone::after {
    bottom: 10px;
  }

  .header__content {
    inline-size: 100%;
  }

  .articles_list {
    display: grid;
    gap: 20px;
  }

  .sections {
    gap: 48px; 
    margin-block-end: 40px;
  }

  .article-text-wider {
    letter-spacing: 0.02em;
  }

  .gallery { 
    display: grid;
    gap: 10px;/*var(--s-size);*/
  }

  .gallery__items {
    gap: 10px;
  } 
}

@media (width < 1024px) { /*на сматрфоне и планшете */
  .header__theme-menu {
    align-self: center; 
    justify-self: end;
  } 

  .header__theme-menu-list {
    flex-direction: column; 
    gap: 9px;  
  }   
}

@media ( 768px <= width < 1024px) { /*На планшете*/
    
  .header {
    min-height: 1024px;
    margin-block-end: 60px;
  }

  .content-why { /*На планшете*/
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .content-why .articles_list { /*На планшете и десктопе*/
    grid-column-start: 2;  
    grid-column-end: 3;
  }

  .content-what { /*На планшете*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  
  .content-what .section__title {/*На планшете*/
    grid-column-start: 1;  
    grid-column-end: 2; 
  }
  
  .content-what .articles_list {/*На планшете*/
    grid-column-start: 1;  
    grid-column-end: 4; 
  }

  .content-how { /*На планшете*/
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .sections {
    margin-block-end: 60px;
  }

  .footer {
    min-height: 1024px;
  }
}

@media  (width >= 768px) { /*на планшете и десктопе */
 .page {
    padding-inline-start: var(--m-size);
    padding-inline-end: var(--m-size);
  }

  .decorated-zone::before {
    top: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;    
  }

  .decorative-element_dark {
    top: 20px;
  }

  .header {
    padding-block-start: var(--m-size);
    padding-block-end: var(--m-size);
  }

  .header__title {
    margin-inline-start: -18px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__content {
    inline-size: 50%;
  }

  .sections { /*новый грид*/
    gap: 78px;
    margin-block-end: 60px;
  }

  .articles_list {/*На десктопе*/
    display: grid;
    gap: 20px;
  }
   
  .articles_list {/*На десктопе*/
    display: grid;
    gap: 20px;
  }
  
  .gallery .article__content-title { 
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .gallery {
    gap: 20px;
  }

  .gallery__items {
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--m-size);
    contain: inline-size;
  }

  .gallery__item-1 { /*Закат*/
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    object-fit: contain;
    align-self: start;
  }
git
  .gallery__item-2 { /*мороженое*/
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: stretch;
  }

  .gallery__item-3 { /*аудиокассета*/
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    align-self: stretch;
  }

  .gallery__item-4 { /*книги*/
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .gallery__item-5 { /*тихая улочка*/
    grid-column-start: 2;
    grid-column-end: 4;    
    grid-row-start: 3;
    grid-row-end: 4;
  }
}  
  
@media (width >= 1024px) { /*на десктопе */
  
  .header {
    padding-block-start: 20px;
    margin-block-end: 60px;
  }

  .header__theme-menu {
    align-self: start; 
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row; 
    gap: var(--s-size); /* 10px */
  } 

  .sections { /*новый грид*/
    margin-block-end: 60px;
  }

  .content-why { /*На десктопе*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .content-why .articles_list { /*На планшете и десктопе*/
    grid-column-start: 2;  
    grid-column-end: 4; 
  }

   .content-what { /*На десктопе*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  
  .content-what .section__title {/*На десктопе*/
    grid-column-start: 1;  
    grid-column-end: 2; 
  }
  
  .content-what .articles_list {/*На десктопе*/
    grid-column-start: 1;  
    grid-column-end: 4; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }  

  .content-how { /*На планшете и десктопе*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
   
  .content-how .section__title { /*На планшете и десктопе*/
    grid-column-start: 1;  
    grid-column-end: 2; 
  }
  
  .content-how .articles_list { /*На планшете и десктопе*/
    grid-column-start: 2;  
    grid-column-end: 4; 
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

